language: python
python:
- 3.6
install: pip install -U tox-travis
script: tox
deploy:
  provider: pypi
  distributions: sdist bdist_wheel
  user: kureta
  password:
    secure: Qe0E+2eQr8As9N+Gl0NQdOJ5/8wQxAgnf6xNtgRta/znor64QmIFOg7FUNDQRzeN7Ccoy1T+i3Z99rn7KsF3SKNfTKQ+bqt6UCV0T0LEYgr4WWD1uXyR1O2v5X/XG+fUgBref8MCXwTkuEDtk0AVK4/eBKVhRfVVq/m4GEc8FTjrpl4/sJukP8YAJ58pNj5fx5vhkXp3HzlpnjzSHPt4DVNXcfyT9DtWH98Vy/uEa8yJ88ES+5FF9Mc7x8zUgwx+vVsKh+4XwD9uDLE8GKhxWQZ5S+yZHmJtX5PZFC4inF/LqPE7Sp5K+r1VsyWAn5f7TNLlw8EFKVrETaM1xcfcu3LS0k7lBfiZJGlfb/gmogkGS1C3RSVcjgRYurk4TWzaFttNNiy6K3KzbvybVebjvbal3JMFJd0xS1UoOfTR1wh8wkPTUKQc5p9XrwZpKGsN+TQ+lKX6VHs2HEAvbIgtN7yms0YLuL+C9g+fKnIk7WLxzlB3zlIJTG02lXUmRaxyy0DUUNBgl9O5+OTDp3YIIdUXD44lECR+op9NAy2BJPLz4OqF9L7/Nm9Qh1SZC0Yfz3v6nD6Qvy3qN5TLmjzzOkvsxIK1NSiDcjGYZucYnoal4eR0cC7JmeyOKqsnBOiE1GsfwoP7gKnMIj3k587JiVaYPquadjf3wbTf2A3/dnc=
  on:
    tags: true
    repo: kureta/pytom
    python: 3.6
notifications:
  email:
    on_success: never
    on_failure: always
